rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if true; // 👈 allow all locally
    }
  }
}
// For more information, see https://firebase.google.com/docs/storage/security